{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yemen realstate</title>
    {% block style %}
    {% endblock style %}
    <link rel="stylesheet" href="{% static 'realstate/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'realstate/css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'realstate/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'realstate/css/all.min.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;800;900;1000&display=swap" rel="stylesheet"> 
   
    <style>
        
    .htmx-indicator {
        display:none;
    }
    .htmx-request .htmx-indicator {
        display:inline;
    }
    .htmx-inverted-indicator{
        display:inline;
    }
    .htmx-request .htmx-inverted-indicator{
        display:none;
    }
    img {
      width:200px;
      height: 200px;
      }
    </style>
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous">
    </script>
     </head>
</head>
<body >
   {% include 'parts/navbar.html' %}
    {% block content %}

    {% endblock content %}
    
    {% block script %}
      
    {% endblock script %}
    <script type="application/javascript" src="{% static 'realstate/js/horizonal.js' %}"></script>
    <script type="application/javascript" src="{% static 'realstate/js/bootstrap.bundle.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'realstate/js/all.min.js' %}"></script>
    
    <script>
        let toggle = document.querySelector('#navbar-toggler');
        let nav = document.querySelector('.navbar');
        toggle.addEventListener('click',function(){
          if (nav.classList.contains('active')){
            nav.classList.remove('active')
          }else {
            nav.classList.add('active')
          }
        })
    
    </script>

    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
     </script>
</body>
</html>