<div style='margin-top:30px'>
    <form action="." method="post" hx-post="." enctype="multipart/form-data">
        {% csrf_token %}  
        {% for hidden in form.hidden_fields %}
            {{hidden}}            
        {% endfor %}
        {% for field in form %}
                <div class="{% if field.field.required %}{{form.required_css_class}}{%endif%}">

                {{ field.errors }}
                {{field.label_tag}} {{field}}
                
                {% if field.help_text %}
                        <p class="help">{{field.help_text | safe }}</p>
                {% endif %}
                    
                </div>
        {% endfor %}
        <div class="htmx-indicator">Loading......</div>
        <button class="htmx-inverted-indicator" type="submit"  >Save</button>
    </form>
    {% if message %}
    <div>{{message}}</div>
    {% endif %}
</div>